.loader-hidden {
  visibility: hidden;
}

.loader-overlay {
  cursor: not-allowed;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  z-index: 9999;
}

md-progress-bar {
  top: 362px;
  width: 97.4%;
  left: 1.3%;
}
