.main {
  padding-left: 30px;
  padding-right: 30px;
}
.full-width {
    width: 100% !important;
}
.width-80-pt {
    width: 80% !important;
}
.width-90-pt {
    width: 94% !important;
}
.mt-l-7-pt {
    margin-left: 6%;
}
.select-msi-button {
  margin-left: 10px;
}
mat-card {
  height: 300px;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.active-setup {
  font-size: 11px;
}
.header {
  padding-left: 15px;
}
.header h1{
  font-family: Montserrat;
  color: #ffffff;
}

.proceed-checkbox {
  margin-bottom: 10px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:  context-menu;
}
