.main {
  padding-left: 30px;
  padding-right: 30px;
}
.full-width {
    width: 100% !important;
}
.width-80-pt {
    width: 80% !important;
}
.width-90-pt {
    width: 94% !important;
}
.mt-l-7-pt {
    margin-left: 6%;
}
.select-msi-button {
  margin-left: 10px;
}
mat-card {
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 300px;
  overflow-x: auto;
}
mat-card::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

mat-card::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

mat-card::-webkit-scrollbar-thumb
{
	background-color: #0ae;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,color-stop(.5, rgba(255, 255, 255, .2)),color-stop(.5, transparent), to(transparent));
}

.active-setup {
  font-size: 11px;
}
.header {
  padding-left: 15px;
}
.header h1{
  font-family: Montserrat;
  color: #ffffff;
}

.proceed-checkbox {
  margin-bottom: 10px;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:  context-menu;
}
