.main {
  padding-left: 30px;
  padding-right: 30px;
}
.full-width {
    width: 100% !important;
}
.width-80-pt {
    width: 80% !important;
}
.width-90-pt {
    width: 94% !important;
}
.mt-l-7-pt {
    margin-left: 6%;
}

md-card {
  background-color: rgba(255, 255, 255, 0.6) !important;
}

.header {
  padding-left: 15px;
}
.header h1{
  font-family: Montserrat;
  color: #ffffff;
}

html, body {
      height:100%;
      min-height:100vh;
}
