<div class="header disable-select">
  <h1>{{HeaderText}}</h1>
</div>
<md-card>
  <div class="container">
    <div fxLayout="row wrap" class="main">
      <div fxFlex="70%">
        <md-input-container class="width-90-pt disable-select">
          <input mdInput placeholder="Product Name" disabled value="{{Msi.ProductName}}">
        </md-input-container>
      </div>
      <div fxFlex="30%" fxLayoutAlign="end center">
        <md-input-container class="width-90-pt disable-select">
          <input mdInput placeholder="Version" disabled value="{{Msi.ProductVersion}}">
        </md-input-container>
      </div>
      <div fxFlex="70%">
        <md-input-container class="width-90-pt disable-select">
          <input mdInput placeholder="Manufacturer" disabled value="{{Msi.Manufacturer}}">
        </md-input-container>
      </div>
      <div fxFlex="30%" fxLayoutAlign="end center">
        <md-input-container class="disable-select">
          <input mdInput placeholder="Language" disabled value="{{Msi.ProductLanguage}}">
        </md-input-container>
      </div>
      <div fxFlex="70%">
        <md-input-container class="width-90-pt disable-select">
          <input mdInput placeholder="Installer" disabled value="{{Filename}}">
        </md-input-container>
      </div>
      <div fxFlex="30%"><a md-raised-button color="primary" class="select-msi-button" (click)="browseMsi()">Select MSI</a></div>
      <div fxFlex="grow" fxLayoutAlign="space-around center">
        <md-input-container class="full-width">
          <input mdInput placeholder="Package Name" [disabled]="!Filename || !Msi.PackageName" [(ngModel)]="Msi.PackageName" (change)="packageNameTextbox()" [errorStateMatcher]="validatePackageName.bind(this)">
          <md-error>Invalid Package Name</md-error>
        </md-input-container>
      </div>
      <div fxFlex="40%">
        <md-checkbox [(ngModel)]="Msi.activeSetup" [disabled]="!Filename || !Msi.PackageName || validatePackageName()" class="active-setup disable-select">Add Active Setup to package</md-checkbox>
      </div>
      <div fxFlex="60%" fxLayoutAlign="end space-between">
        <md-checkbox [(ngModel)]="Msi.checkBoxValue" [disabled]="!Filename || !Msi.PackageName || validatePackageName()" [checked]="!validatePackageName() && Msi.checkBoxValue && Msi.PackageName" (change)="checkboxFunction($event)"  class="proceed-checkbox disable-select">Proceed to create Transform</md-checkbox>
      </div>
      <div fxFlex="50%" fxLayoutAlign="start space-between"><img src="assets/images/logo.png" height="50px"/></div>
      <div fxFlex="50%" fxLayoutAlign="end center"><a md-raised-button color="primary" (click)="generateMST(Filename,Msi.PackageName,Msi.checkBoxValue)" [disabled]="!Msi.checkBoxValue || !Msi.PackageName || validatePackageName()">Generate Transform</a></div>
    </div>
  </div>
</md-card>
