<div class="header">
  <h1>{{headerText}}</h1>
</div>
<md-card>
  <div class="container">
    <div fxLayout="row wrap" class="main">
      <div fxFlex="70%">
        <md-input-container class="width-90-pt">
          <input mdInput placeholder="Product Name" disabled value="{{msi.ProductName}}">
        </md-input-container>
      </div>
      <div fxFlex="30%" fxLayoutAlign="end center">
        <md-input-container class="width-90-pt">
          <input mdInput placeholder="Version" disabled value="{{msi.ProductVersion}}">
        </md-input-container>
      </div>
      <div fxFlex="50%">
        <md-input-container class="width-90-pt">
          <input mdInput placeholder="Manufacturer" disabled value="{{msi.Manufacturer}}">
        </md-input-container>
      </div>
      <div fxFlex="50%" fxLayoutAlign="end center">
        <md-input-container>
          <input mdInput placeholder="Language" disabled value="{{msi.ProductLanguage}}">
        </md-input-container>
      </div>
      <div fxFlex="80%">
        <md-input-container class="width-90-pt">
          <input mdInput placeholder="Installer" disabled value="{{filename}}">
        </md-input-container>
      </div>
      <div fxFlex="20%"><a md-raised-button color="primary" (click)="browseMsi()">Select MSI</a></div>
      <div fxFlex="grow" fxLayoutAlign="space-around center">
        <md-input-container class="width-90-pt">
          <input mdInput placeholder="Package Name" [(ngModel)]="msi.PackageName" [errorStateMatcher]="validatePackageName.bind(this)">
          <md-error>Invalid Package Name</md-error>
        </md-input-container>
      </div>
      <div fxFlex="60%">
        <md-checkbox [(ngModel)]="msi.checkBoxValue" [disabled]="!msi.PackageName || validatePackageName()" (change)="checkboxFunction($event)">Proceed to create Transform</md-checkbox>
      </div>
      <div fxFlex="40%" fxLayoutAlign="space-around center"><a md-raised-button color="primary" (click)="generateMST(filename,msi.PackageName,msi.checkBoxValue)" [disabled]="!msi.checkBoxValue">Generate Transform</a></div>
    </div>
  </div>
</md-card>
