/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/icon?family=Roboto';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html {
  background-image: url('assets/images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: 100vh;
}
body {
 font-family: Roboto;
 font-size: 13px;
 }

.mat-ink-bar {
   top: 0 !important;
   bottom:auto !important;
 }

.mat-tab-nav-bar, .mat-tab-header {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: none !important;
}

.mat-tab-nav-bar {
  margin-top: 10px;
}
